
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr {
  border: 0;
  background-color: #9c97f1;
  height: 1.2px;
  margin: 40px 84px;
}
 
 nav{
    width:100%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: rgb(10, 10, 58);
    color:white;
}
.navi {
    display: flex;
    align-items: center;
    gap: 0;
}
.navi h2{
    font-size: 25px;
    font-weight: bold;
